{% extends 'base.html' %} {% block title %} About {% endblock title %} {% block body %}
<div class="container text-center text-capitalize" style="margin-top: 6rem; margin-bottom: 3rem;">
    <h3>Welcome to our Gallery</h3>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom hover-shadow rounded">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.jpg" class="img-fluid">
        </div>
    </div>
</div>
{% endblock body %}